<div class="header">
  <img src="/images/header.png" class="header-image">
  <div class="header-title">
    <div class="close" ng-click="vm.close()">Close</div>
    <div class="review-title">{{vm.title}}</div>
    <div class="save" ng-click="vm.save()">Save</div>
  </div>
</div>
<rating class="rating-star" editable="vm.editable" rating="vm.myReview.rating" margin="vm.margin" rating-changed="vm.ratingChanged(rating)"></rating>
<div class="rating-display-text">{{vm.ratingText}}</div>
<div class="line-seperator name-line-seperator"></div>
<div class="name-input">
  <input ng-model="vm.myReview.name" placeholder="Your name" class="name-input-text"/>
</div>
<div class="line-seperator content-line-seperator"></div>
<div class="content-input">
  <textarea ng-model="vm.myReview.content" placeholder="Add more details on your experience..." class="content-input-text" rows="4"></textarea>
</div>
<div class="line-seperator final-line-seperator"></div>
<div class="popup" ng-class="vm.popupVisibleClass">
  <popup ok="vm.ok()" title="vm.popupTitle" sub-title="vm.popupSubTitle"></popup>
</div>
